 
<style>
    body {
        background: #F0F0F0 !important;
        color: #313131 !important;
    }

    .ace-monokai {
        min-height: 200px;
    }

    .progress-bar {
    }
    .form-control {
        
    }
    #serverTable {
        margin-top: 15px;
    background: #fff;
    }
    #kbmanagerModalBody {
    max-height: 250px;
    overflow-y: auto;
}
</style>
<br /><br /><br /><br />
<h3>@ViewData["Message"]</h3>

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
<script>
    var baseUrl = window.location.origin+"/";

    $(document).ready(function () {
        loadServiceLine();
        loadEnvironments();

        $('.changeTrigger').on('change', function (event) {
             
            serviceLine = $('#selectServiceLine').val();
            environment = $('#selectEnvironment').val();
            application = $('#selectApplication').val();

            if (serviceLine && environment && application) {
                if (event.currentTarget.id == 'selectApplication')
                getServers();
                
            }

            if (serviceLine) {
                if (event.currentTarget.id != 'selectApplication')
                getApplciations(serviceLine);
                 
            }

            
             
        })
    })

    function showKbManager(server) {
        if (!server) {
            server = $('#serverNameKBManager').val();
        }
        else {
            $('#serverNameKBManager').val(server);
        }
        

        $('#myModal').modal('show');
        $('#kbmanagerModalBody').html('<img style="display: block;margin: 30px auto;height: 40px;margin-bottom: 10px;" src="http://charterhouseyc.com/wp-content/plugins/yacht-cya/images/loader.gif"><p style=" text-align: center; ">It can take upto a minute..</p>');
        url = baseUrl + "home/RunPS";
        month = $('#monthsToShow').val();
        
        $.post(url, { filename: 'getkbs', first_param: 'serverFQDN>' + server,second_param:'month>'+month }, function (data) {
            if (data) {
                data=$.parseJSON(data);
                
                html = '<table class="table table-striped"><thead style="    background: #8bb64f;color:#fff"><tr>  <th></th><th>#</th>  <th>Hotfix id</th>\
                    <th>InstalledOn</th>  <th>Description</th>  </tr></thead><tbody>';

                $(data).each(function (i, v) {
                    html += '<tr data-hotfixId="' + v.hotfixid + '" class="BaliKaBakra">';
                    html += '<td><input type="checkbox"></td>';
                    html += '<td>' + (i + 1) + '</td>';
                    html += '<td>' + v.hotfixid + '</td>';
                    html += '<td>' + v.InstalledOn.DateTime + '</td>';
                    html += '<td>' + v.description + '</td>';
                    html += '</tr>';
                })
                html += '</tbody></table>';
                $('#kbmanagerModalBody').html('<hr>' + html);
            } else {
                $('#kbmanagerModalBody').html('<hr><p>No Kbs found. Please change month.</p>');
            }
           
        })
    }

    function searchKbs(e) {
        if ($(e).val().length > 0) {
            $('.BaliKaBakra').hide();
        }
        else { $('.BaliKaBakra').show(); }
        
        $('.BaliKaBakra').each(function (i, v) {
            if ($(this).attr('data-hotfixId').indexOf($(e).val()) > 0) {
                console.log($(this).attr('data-hotfixId'));
                $(this).show();
            }
        })
    }

    function getServers() {
         
        $('#serverTableHolder').html('<img style="display: block; margin: 60px auto; height: 40px;" src="http://charterhouseyc.com/wp-content/plugins/yacht-cya/images/loader.gif" />');
        $('#serverTableHolder').fadeIn(100);
        url = baseUrl + "home/getServers";
         
        applicationId   = $('#selectApplication').val();
        envId           = $('#selectEnvironment').val();

        $.post(url, { envId: envId, applicationId: applicationId }, function (data) {
            
            data = $.parseJSON(data);

            html = '<br><table id="serverTable" class="table table-striped"><thead style="color:#fff; background:#58beea;"><tr>  <th>#</th> <th>Application</th>  <th>Cluster</th>  <th>Enviroment</th>  <th>MachineDomain</th>  <th>MachineName</th>  <th>ServiceLine</th>  <th>Type</th>   <th>Operations</th>  </tr></thead><tbody>';
            $(data).each(function (i, v) {
                html += '<tr>';

                html += '<td>' + (i+1) + '</td>';
                html += '<td>' + v.Application + '</td>';
                html += '<td>' + v.Cluster + '</td>';
                html += '<td>' + v.Enviroment + '</td>';
                html += '<td>' + v.MachineDomain + '</td>';
                html += '<td>' + v.MachineName + '</td>';
                html += '<td>' + v.ServiceLine + '</td>';
                html += '<td>' + v.Type + '</td>';
                html += '<td> <a class="btn btn-success btn-xs"\
                data-toggle="modal" onclick="showKbManager(\'' + v.MachineName + '\')"\
                title="Show installed KBs"><i class="glyphicon glyphicon-cog"></i></a></td>';

                html += '</tr>';
            });
            html += '</tbody></table>';
            $('#serverTableHolder').html(html);
            $('#serverTable').DataTable();
            
        })
        
    }

    function getApplciations(serviceLine) {
        url = baseUrl + "home/getApplications";
        $.post(url, { serviceLineId: serviceLine}, function (data) {

            data = $.parseJSON(data);
           // console.log(data);
            
            html = '<option selected disabled>Select Application</option>';
            $(data).each(function (i, v) {
                html += '<option value="' + v.id + '">' + v.Title + '</option>';
            })
            $('#selectApplication').html(html);
            $('#selectApplication').parent().fadeIn(100);
            
        })
    }

    function loadServiceLine() {
        url = baseUrl + "home/getServiceLine";
        $.post(url, function (data) {
            //console.log(data);
            data = $.parseJSON(data);
            html = '<option selected disabled>Select Serviceline</option>';
            $(data).each(function (i, v) {
                html += '<option value="'+v.id+'">' + v.serviceLine_name + '</option>';
            })
            $('#selectServiceLine').html(html); 
        })
    }

    function loadEnvironments() {
        url = baseUrl + "home/getEnvironments";
        $.post(url, function (data) {
            //console.log(data);
            data = $.parseJSON(data);
            
            html = '';
            html = '<option selected disabled>Select Environment</option>';
            $(data).each(function (i, v) {
                html += '<option value="' + v.id + '">' + v.environment + '</option>';
            })
            $('#selectEnvironment').html(html);
        })
    }

    function getServerList(svcLineId,envId) {
        url = baseUrl + "home/getServers";
        $.post(url, { svcLineID: svcLineId, envId: envId }, function (data) {
            data = $.parseJSON(data);
             
            html = '';
            html = '<option selected disabled>Select Environment</option>';
            $(data).each(function (i, v) {
                html += '<option value="' + v.id + '">' + v.environment1 + '</option>';
            })
            $('#selectEnvironment').html(html);
        })
    }

    

    

</script>
<input type="hidden" id="xml_filename" value="" />
<div id="serverList" style="display:none">
    <input type="hidden" id="serverNameKBManager" />
    
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4" style="padding-left: 0;">
            <label class="">Select Service Line</label>
            <select class="form-control changeTrigger" id="selectServiceLine" >
                <option>None</option>
            </select>
        </div>

        <div class="col-lg-4" >
            <label class="">Select Environment</label>
            <select class="form-control  changeTrigger" id="selectEnvironment">
                <option>None</option>
            </select>
        </div>

        <div class="col-lg-4" style=" display:none;padding-right: 0;">
            <label class="">Select Application</label>
            <select class="form-control changeTrigger" id="selectApplication">
                <option>None</option>
            </select>
        </div>
       
    </div>
    <br /><hr />
    <div class="col-lg-12" id="serverTableHolder" style="display:none">
        
    </div>
    <div class="col-lg-6" style="display:none" id="xmlHolder">  </div>
    <div class="col-lg-6">

        <div class="logHolder">
            <h3 style=" display:none; margin 0px; margin-top 4px;" id="logTxt">Installed KBs</h3>
            <textarea style="width: 100%; background: #000; color: #fff; display:none; height:200px" rows="6" id="logArea"></textarea>
        </div>

    </div>
    <div class="col-lg-12">

        <div id="fqdn_chkbox_holder"> </div>
        <hr />
        <div> 

            <button class="btn btn-success btn-flat" onclick="getXML()"> <i class="glyphicon glyphicon-flash"></i> Generate XML</button>
            <button class="btn btn-info btn-flat" onclick="patch()"> <i class="glyphicon glyphicon-fire"></i> Patch</button>
        </div>
        <hr />

    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />


   
    </div>
 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">KB manager</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label style="display: block;">
                            Select Month
                            <select class="form-control" id="monthsToShow" onchange="showKbManager('')">
                                <option value="0">All</option>
                                <option value="1" selected>1 month</option>
                                <option value="2">2 month</option>
                                <option value="3">3 month</option>
                                <option value="4">4 month</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <label style="display: block;">
                            Search Kbs
                            <input type="text" onKeyUp="searchKbs($(this))" class="form-control" id="kbSearch" />
                        </label>
                    </div>

                </div>
                <div id="kbmanagerModalBody"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"> </i> Uninstall KBs</button>
            </div>
        </div>
    </div>
